{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
  <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <!-- <h4 class="my-0 font-weight-normal">{{ object.name_product }}</h4> -->
                </div>
                <div class="card-body">
                     <form method="post" >
                         {% csrf_token %}
                         {{ form.as_p }}
                         <input type="submit" class="btn btn-success" value="создать">
                     </form>
                </div>
            </div>
        </div>
  </div>
{% endblock %}
